## library

In [ ]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [ ]:
df = pd.read_csv("Car details v3.csv")

## Membagi dataset menjadi traning dan testing

In [ ]:
X = df.iloc[:,:-1]
y = df.iloc[:,-1]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [ ]:
print("Dimensi X_train: ", X_train.shape)
print("Dimensi X_test: ", X_test.shape)
print("Dimensi y_train: ", y_test.shape)
print("Dimensi y_test: ", y_train.shape)

Dimensi X_train:  (6502, 12)
Dimensi X_test:  (1626, 12)
Dimensi y_train:  (1626,)
Dimensi y_test:  (6502,)

## Data Cleaning Pada Nilai NULL

In [61]:
df.isna().sum()

name               0
year               0
selling_price      0
km_driven          0
fuel               0
seller_type        0
transmission       0
owner              0
mileage          221
engine           221
max_power        215
torque           222
seats              0
dtype: int64

In [69]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(strategy="mean")

In [73]:
df["selling_price"] = imputer.fit_transform(df[["selling_price"]])

In [74]:
df.isna().sum()

name               0
year               0
selling_price      0
km_driven          0
fuel               0
seller_type        0
transmission       0
owner              0
mileage          221
engine           221
max_power        215
torque           222
seats              0
dtype: int64

In [75]:
df[60:70]

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,torque,seats
60,Mercedes-Benz New C-Class 220 CDI AT,2013.0,1425000.0,59000,Diesel,Dealer,Automatic,First Owner,14.84 kmpl,2143 CC,170 bhp,400Nm@ 1400-2800rpm,5.0
61,Tata Manza ELAN Quadrajet BS IV,2011.0,265000.0,120000,Diesel,Individual,Manual,First Owner,21.12 kmpl,1248 CC,88.8 bhp,200Nm@ 1750-3000rpm,5.0
62,Hyundai i10 Magna,2011.0,190000.0,110000,Petrol,Individual,Manual,Third Owner,20.36 kmpl,1197 CC,78.9 bhp,111.7Nm@ 4000rpm,5.0
63,Hyundai i20 Asta 1.4 CRDi,2013.0,425000.0,60000,Diesel,Individual,Manual,First Owner,21.27 kmpl,1396 CC,88.76 bhp,219.6Nm@ 1500-2750rpm,5.0
64,Maruti Swift Dzire ZDI,2015.0,630000.0,147000,Diesel,Individual,Manual,Second Owner,26.59 kmpl,1248 CC,74 bhp,190Nm@ 2000rpm,5.0
65,Ford Figo 1.2P Titanium MT,2017.0,600000.0,25000,Petrol,Individual,Manual,Third Owner,18.16 kmpl,1196 CC,86.8 bhp,112Nm@ 4000rpm,5.0
66,Maruti Baleno Delta 1.2,2019.0,650000.0,30000,Petrol,Individual,Manual,First Owner,21.4 kmpl,1197 CC,83.1 bhp,115Nm@ 4000rpm,5.0
67,Volkswagen Ameo 1.5 TDI Highline 16 Alloy,2016.0,540000.0,40000,Diesel,Individual,Manual,First Owner,22.0 kmpl,1498 CC,108.495 bhp,250Nm@ 1500-3000rpm,5.0
68,Honda City i DTEC VX,2015.0,630000.0,135000,Diesel,Individual,Manual,First Owner,25.1 kmpl,1498 CC,98.6 bhp,200Nm@ 1750rpm,5.0
69,Maruti Wagon R AMT VXI,2018.0,448000.0,30000,Petrol,Individual,Automatic,First Owner,20.51 kmpl,998 CC,67 bhp,90Nm@ 3500rpm,5.0

In [76]:
df.isna().sum()

name               0
year               0
selling_price      0
km_driven          0
fuel               0
seller_type        0
transmission       0
owner              0
mileage          221
engine           221
max_power        215
torque           222
seats              0
dtype: int64

In [78]:
df["year"] = df["year"].fillna(df["year"].mean())

In [79]:
df.isna().sum()

name               0
year               0
selling_price      0
km_driven          0
fuel               0
seller_type        0
transmission       0
owner              0
mileage          221
engine           221
max_power        215
torque           222
seats              0
dtype: int64

## Data Cleaning Pada Nilai Duplikat

In [80]:
df[df.duplicated()]

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,torque,seats
291,Hyundai Grand i10 Sportz,2017.0,450000.0,35000,Petrol,Individual,Manual,First Owner,18.9 kmpl,1197 CC,82 bhp,114Nm@ 4000rpm,5.0
296,Maruti Swift VXI,2012.0,330000.0,50000,Petrol,Individual,Manual,Second Owner,18.6 kmpl,1197 CC,85.8 bhp,114Nm@ 4000rpm,5.0
370,Jaguar XE 2016-2019 2.0L Diesel Prestige,2017.0,2625000.0,9000,Diesel,Dealer,Automatic,First Owner,13.6 kmpl,1999 CC,177 bhp,430Nm@ 1750-2500rpm,5.0
371,Lexus ES 300h,2019.0,5150000.0,20000,Petrol,Dealer,Automatic,First Owner,22.37 kmpl,2487 CC,214.56 bhp,202Nm@ 3600-5200rpm,5.0
372,Jaguar XF 2.0 Diesel Portfolio,2017.0,3200000.0,45000,Diesel,Dealer,Automatic,First Owner,19.33 kmpl,1999 CC,177 bhp,430Nm@ 1750-2500rpm,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7987,Renault Captur 1.5 Diesel RXT,2018.0,1265000.0,12000,Diesel,Individual,Manual,First Owner,20.37 kmpl,1461 CC,108.45 bhp,240Nm@ 1750rpm,5.0
7988,Maruti Ciaz Alpha Diesel,2019.0,1025000.0,32000,Diesel,Individual,Manual,First Owner,28.09 kmpl,1248 CC,88.50 bhp,200Nm@ 1750rpm,5.0
8117,Maruti Swift Dzire VDI,2015.0,625000.0,50000,Diesel,Individual,Manual,First Owner,26.59 kmpl,1248 CC,74 bhp,190Nm@ 2000rpm,5.0
8126,Tata Indigo CR4,2013.0,290000.0,25000,Diesel,Individual,Manual,First Owner,23.57 kmpl,1396 CC,70 bhp,140Nm@ 1800-3000rpm,5.0
8127,Tata Indigo CR4,2013.0,290000.0,25000,Diesel,Individual,Manual,First Owner,23.57 kmpl,1396 CC,70 bhp,140Nm@ 1800-3000rpm,5.0

In [81]:
df.duplicated().sum()

1202

In [83]:
df.drop_duplicates(inplace=True)

In [85]:
df[df.duplicated()]

Empty DataFrame
Columns: [name, year, selling_price, km_driven, fuel, seller_type, transmission, owner, mileage, engine, max_power, torque, seats]
Index: []

## Normalisasi Data Salah Satu Atribut Menggunakan MinMaxScaler

## Copy Dataset

In [86]:
df2 = df.copy()

## Proses Normalisasi

In [87]:
from sklearn.preprocessing import MinMaxScaler

In [88]:
min_max_scaler = MinMaxScaler()

In [89]:
X_df2 = min_max_scaler.fit_transform(
    df[['year', 'selling_price', 'km_driven', 'seats']]
)

In [90]:
data_normalization = pd.DataFrame(X_df2)
data_normalization.head()

          0         1         2     3
0  0.837838  0.042126  0.061640  0.25
1  0.837838  0.034102  0.050837  0.25
2  0.621622  0.012839  0.059310  0.25
3  0.729730  0.019559  0.053803  0.25
4  0.648649  0.010030  0.050837  0.25

## Standarisasi Pada Dataset

## Copy Dataset

In [91]:
df2 = df.copy()

## Proses Standarisasi

In [94]:
np.std(df2)

year                  4.077992
selling_price    519729.461747
km_driven         58353.882051
seats                 0.969271
dtype: float64

In [93]:
from sklearn.preprocessing import StandardScaler

In [ ]:
ss = StandardScaler()

In [ ]:
X_df2 = ss.fit_transform(
    df[['year', 'selling_price', 'km_driven', 'seats']]
)

In [95]:
data_standarization = pd.DataFrame(X_df2)
data_standarization.head()

          0         1         2     3
0  0.837838  0.042126  0.061640  0.25
1  0.837838  0.034102  0.050837  0.25
2  0.621622  0.012839  0.059310  0.25
3  0.729730  0.019559  0.053803  0.25
4  0.648649  0.010030  0.050837  0.25

In [96]:
np.std(X_df2)

0.3278944535117712

In [97]:
np.mean(X_df2)

0.29714197454566743

## Mengganti Tipe Data Salah Satu Atribut Angka

In [98]:
df.dtypes

name              object
year             float64
selling_price    float64
km_driven          int64
fuel              object
seller_type       object
transmission      object
owner             object
mileage           object
engine            object
max_power         object
torque            object
seats            float64
dtype: object

In [99]:
df["seats"] = df["seats"].astype("int")

In [100]:
df.dtypes

name              object
year             float64
selling_price    float64
km_driven          int64
fuel              object
seller_type       object
transmission      object
owner             object
mileage           object
engine            object
max_power         object
torque            object
seats              int32
dtype: object

## One Hot Encoding Pada Dataset

In [101]:
from sklearn.preprocessing import OneHotEncoder

In [102]:
onehotencoder = OneHotEncoder(sparse=False)

In [113]:
owner_encoded2 = onehotencoder.fit_transform(df[["owner"]])

In [116]:
df2 = pd.DataFrame(owner_encoded2)
df = df.join(df2)

In [117]:
df.head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,torque,seats,0,1,2,3,4
0,Maruti Swift Dzire VDI,2014.0,450000.0,145500,Diesel,Individual,Manual,First Owner,23.4 kmpl,1248 CC,74 bhp,190Nm@ 2000rpm,5,1.0,0.0,0.0,0.0,0.0
1,Skoda Rapid 1.5 TDI Ambition,2014.0,370000.0,120000,Diesel,Individual,Manual,Second Owner,21.14 kmpl,1498 CC,103.52 bhp,250Nm@ 1500-2500rpm,5,0.0,0.0,1.0,0.0,0.0
2,Honda City 2017-2020 EXi,2006.0,158000.0,140000,Petrol,Individual,Manual,Third Owner,17.7 kmpl,1497 CC,78 bhp,"12.7@ 2,700(kgm@ rpm)",5,0.0,0.0,0.0,0.0,1.0
3,Hyundai i20 Sportz Diesel,2010.0,225000.0,127000,Diesel,Individual,Manual,First Owner,23.0 kmpl,1396 CC,90 bhp,22.4 kgm at 1750-2750rpm,5,1.0,0.0,0.0,0.0,0.0
4,Maruti Swift VXI BSIII,2007.0,130000.0,120000,Petrol,Individual,Manual,First Owner,16.1 kmpl,1298 CC,88.2 bhp,"11.5@ 4,500(kgm@ rpm)",5,1.0,0.0,0.0,0.0,0.0