# Untuk mendaptkan informasi

In [28]:
import pandas as pd
import numpy as np

df = pd.read_csv("Car details v3.csv")
Data = {
    'jumlah_record' :0,
    'nama_atribut' :[],
    'atribut_objek' :0,
    'atribt_angka' :0,
    'atribut_null' :0,
}
Data['jumlah_record'] = df.shape[0]
Data['nama_atribut'] = list(df.columns.values)
Data['atribut_objek'] = list(df.select_dtypes(['object']).columns)
Data['atribut_angka'] = list(df.select_dtypes(['float64', 'int64']).columns)
Data['atribut_null'] = list(df.loc[:, df.isnull().any()].columns)

# Menampilkan Jumlah record

In [14]:
print ("jumlah record pada dataset :",Data['jumlah_record'])

jumlah record pada dataset : 8128

# Menampilkan Nama Dan Jumlah Atribut

In [16]:
print ("Nama Atribute :", Data['nama_atribut'])
print ("Jumlah Atribut :", len(Data['nama_atribut']))

Nama Atribute : ['name', 'year', 'selling_price', 'km_driven', 'fuel', 'seller_type', 'transmission', 'owner', 'mileage', 'engine', 'max_power', 'torque', 'seats']
Jumlah Atribut : 13

# Tampilan Atribut Tipe Objek

In [17]:
print ("Atribut dengan tipe objek :", Data['atribut_objek'], len(Data['atribut_objek']))

Atribut dengan tipe objek : ['name', 'fuel', 'seller_type', 'transmission', 'owner', 'mileage', 'engine', 'max_power', 'torque'] 9

# Tampilan Atribut Dengan Tipe Angka

In [18]:
print ("Atribut dengan Tipe Angka :", Data['atribut_angka'], len(Data['atribut_angka']))

Attribute dengan Tipe Angka : ['year', 'selling_price', 'km_driven', 'seats'] 4

# Tampilan Atribut Dengan Nilai Null

In [19]:
print ("Atribut dengan Nilai Null :", Data['atribut_null'], len(Data['atribut_null']))

Atribut dengan Nilai Null : ['mileage', 'engine', 'max_power', 'torque', 'seats'] 5

# Tampilan Rata-Rata, Standar Deviasi, Nilai Minimum, Nilai Maksimum, Q1 Q2 Q3

In [20]:
df.describe()

              year  selling_price     km_driven        seats
count  8128.000000   8.128000e+03  8.128000e+03  7907.000000
mean   2013.804011   6.382718e+05  6.981951e+04     5.416719
std       4.044249   8.062534e+05  5.655055e+04     0.959588
min    1983.000000   2.999900e+04  1.000000e+00     2.000000
25%    2011.000000   2.549990e+05  3.500000e+04     5.000000
50%    2015.000000   4.500000e+05  6.000000e+04     5.000000
75%    2017.000000   6.750000e+05  9.800000e+04     5.000000
max    2020.000000   1.000000e+07  2.360457e+06    14.000000

# Nilai Korelasi Atribut Bertipe Angka

In [21]:
df.corr()

                   year  selling_price  km_driven     seats
year           1.000000       0.414092  -0.418006 -0.009144
selling_price  0.414092       1.000000  -0.225534  0.041358
km_driven     -0.418006      -0.225534   1.000000  0.227336
seats         -0.009144       0.041358   0.227336  1.000000

# Menampilkan Tipe Data Tiap  Atribut Sebelum Di Ubah

In [23]:
df.dtypes

name              object
year               int64
selling_price      int64
km_driven          int64
fuel              object
seller_type       object
transmission      object
owner             object
mileage           object
engine            object
max_power         object
torque            object
seats            float64
dtype: object

# Pengubahan Atribut Bertipe Angka Menjadi Desimal

In [24]:
df['km_driven'] = df['km_driven'].astype('float64')

In [25]:
df.head(10)

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,torque,seats
0,Maruti Swift Dzire VDI,2014,450000,145500.0,Diesel,Individual,Manual,First Owner,23.4 kmpl,1248 CC,74 bhp,190Nm@ 2000rpm,5.0
1,Skoda Rapid 1.5 TDI Ambition,2014,370000,120000.0,Diesel,Individual,Manual,Second Owner,21.14 kmpl,1498 CC,103.52 bhp,250Nm@ 1500-2500rpm,5.0
2,Honda City 2017-2020 EXi,2006,158000,140000.0,Petrol,Individual,Manual,Third Owner,17.7 kmpl,1497 CC,78 bhp,"12.7@ 2,700(kgm@ rpm)",5.0
3,Hyundai i20 Sportz Diesel,2010,225000,127000.0,Diesel,Individual,Manual,First Owner,23.0 kmpl,1396 CC,90 bhp,22.4 kgm at 1750-2750rpm,5.0
4,Maruti Swift VXI BSIII,2007,130000,120000.0,Petrol,Individual,Manual,First Owner,16.1 kmpl,1298 CC,88.2 bhp,"11.5@ 4,500(kgm@ rpm)",5.0
5,Hyundai Xcent 1.2 VTVT E Plus,2017,440000,45000.0,Petrol,Individual,Manual,First Owner,20.14 kmpl,1197 CC,81.86 bhp,113.75nm@ 4000rpm,5.0
6,Maruti Wagon R LXI DUO BSIII,2007,96000,175000.0,LPG,Individual,Manual,First Owner,17.3 km/kg,1061 CC,57.5 bhp,"7.8@ 4,500(kgm@ rpm)",5.0
7,Maruti 800 DX BSII,2001,45000,5000.0,Petrol,Individual,Manual,Second Owner,16.1 kmpl,796 CC,37 bhp,59Nm@ 2500rpm,4.0
8,Toyota Etios VXD,2011,350000,90000.0,Diesel,Individual,Manual,First Owner,23.59 kmpl,1364 CC,67.1 bhp,170Nm@ 1800-2400rpm,5.0
9,Ford Figo Diesel Celebration Edition,2013,200000,169000.0,Diesel,Individual,Manual,First Owner,20.0 kmpl,1399 CC,68.1 bhp,160Nm@ 2000rpm,5.0

# Menampilkan Tipe Data Atribut Setelah Di Ubah

In [26]:
df.dtypes

name              object
year               int64
selling_price      int64
km_driven        float64
fuel              object
seller_type       object
transmission      object
owner             object
mileage           object
engine            object
max_power         object
torque            object
seats            float64
dtype: object

# Untuk Menampilkan 10 Record Pertama Atribut Bertipe Angka

In [29]:
dh = df.select_dtypes(include=np.number)
dh.head(10)

   year  selling_price  km_driven  seats
0  2014         450000     145500    5.0
1  2014         370000     120000    5.0
2  2006         158000     140000    5.0
3  2010         225000     127000    5.0
4  2007         130000     120000    5.0
5  2017         440000      45000    5.0
6  2007          96000     175000    5.0
7  2001          45000       5000    4.0
8  2011         350000      90000    5.0
9  2013         200000     169000    5.0

# Menyimpan Dataset Dengan Atribut Bertipe Angka Ke Dalam File CSV

In [33]:
df[['year', 'selling_price', 'km_driven', 'seats']].to_csv("dataset atribut bertipe angka.csv")